body, html {
    margin: 0%;
    padding: 0%;
    font-family: "Searocks OTF";
}

@font-face {
    font-family: "Searocks OTF";
    src: url("Searocks OTF.otf") format("opentype");
}

header {
    font-size: 25px;
    background-color: #4e217d;
    padding: 10px;
}

nav {
    background-color: black;
    padding: 3px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 2%;
}

nav ul {
list-style: circle;
margin: 0;
padding: 0;

}

nav ul li {
display: inline-block;
margin: 10px;

}

nav ul li a {
    color: white;
}

#image {
    height: 350px;
    margin: 0 auto;
}

#aboutMe {
    text-align: center;
}

 #aboutMe, #projects, #end-page {
    height: 100vh; 
    width: 100%;
 }

 .white {
    color: #4e217d;
    text-align: center;
    background-color: #f4eaf5;
 }
 
 .violet {
    color: #f4eaf5;
    background-color: #4e217d;
}

h1 {
    color: #f4eaf5;
    font-size: 80px;
    text-align: center;
}

#aboutMe p {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 60px;
    text-align: center;
}

#table  {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 100px 0px;
}

.carpeta {
    width: 75%;
    height: auto;
}

td p {
    font-size: 30px;
}

.violet a {
    color: black;
    font-style: italic;
    font-size: 40px;
}

#csshtml {
    width: 18%;
    height: auto;
}

#js, #visual, #git {
    width: 10%;
    height: auto;
    
}

#skills {
  text-align: center;
} 

.icon {
width: 2.3%;
height: auto;
}

#contact {
align-items: center;
}